
@tailwind base;

@tailwind components;

@tailwind utilities;
@import url(fontiran.css); /* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد */

#roote {
	font-family: IRANSans  !important;

}
body {

	direction: rtl;

	margin: 0;
}